RewriteEngine On

RewriteCond %{HTTP_HOST} ^healthy:81$
RewriteCond %{REQUEST_URI} !CCN/dist/
RewriteRule (.*) /CCN/dist/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule (.*) index.html [L]