/* You can add global styles to this file, and also import other style files */
@import './../node_modules/reset-css/_reset.scss'
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

body
  font-size: 13px
  font-family: sans-serif
  background-color: #fafafa

.progress-spinner
  position: fixed
  top: 50%
  bottom: 0
  left: 50%
  right: 0
  width: 100%

.shadow
  background: rgba(0, 0, 0, 0.7)
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  overflow-y: hidden
  z-index: 10

.wrap-body
  max-width: 1000px
  min-height: 500px
  margin: 0 auto
  margin-top: 65px
  margin-bottom: 70px

.wrap-radio
  margin: 0px 20px 10px 0px

.alert
  position: fixed
  bottom: 0px
  left: 0px
  width: 350px
  z-index: 10
  margin-left: 15px

  .close
    top: -7px
    right: -14px
    cursor: pointer

b, strong
  font-weight: 700

.mat-form-field
  margin-right: 20px

a:hover
  text-decoration: none

button:active
  outline: none

.input
  font: inherit
  background: 0 0
  color: currentColor
  border: 0
  border-bottom: 1px solid gray
  outline: 0
  padding: 0
  margin: 0
  width: 40px

.btn
  margin: 0px 5px
  font-size: 13px
  cursor: pointer

button
  outline: none

.title-head
  margin-bottom: 10px
  font-weight: bold
  font-size: 14px

.title
  max-width: 327px
  font-weight: bold
  margin: 0px 0px 10px 0px

.mat-radio-button
  margin: 0px 5px 0px 5px

.wrap-date
  width: 140px

.wrap-time
  width: 140px

.h-row
  padding-bottom: 10px

.wrap-row
  margin-bottom: 20px

.mat-menu-panel
  max-width: 1000px !important

.table-lka, .table-pka
  .mat-input-container
    width: 44px
    margin: 0 auto
    .mat-form-field-infix
      border-top: 0px

.footer
  .mat-checkbox
    margin-right: 30px
  .mat-checkbox-label
    color: white
  .mat-checkbox-frame
    background-color: white