.wrap-filter
  padding-bottom: 20px

  .filter
    display: flex
    flex-flow: wrap column

    &__fields
      display: flex
      flex-wrap: wrap

    &__title
      font-weight: bold

    &__buttons
      align-self: flex-end

