<div class="wrap-main-menu">
  <div class="main-menu">
    <a href="/">
      <button mat-button>{{'lang_98' | translate}}</button>
    </a>

    <button mat-button [matMenuTriggerFor]="menu">{{'lang_97' | translate}}</button>
    <mat-menu #menu="matMenu">
      <a href="/create_protocol_with_acute_myocardial_infarction">
        <button mat-menu-item>{{'lang_75' | translate}}</button>
      </a>
    </mat-menu>

    <a href="/logout" style="float: right;">
      <button mat-button>{{'lang_156' | translate}}</button>
    </a>
  </div>
</div>